{{!< layout}} <h2 style="margin-top:0">Password Reset Request</h2>
    <p>Hello{{#if name}} {{name}}{{/if}},</p>
    <p>You requested a password reset. Click the button below to reset your password. This link expires in 1 hour.</p>
    <p>
        <a class="button" href="{{resetLink}}" target="_blank">Reset Password</a>
    </p>
    <p>If you didn’t request this, you can safely ignore this email.</p>