{{!< layout}} <h2 style="margin-top:0">Welcome to Car Parts Shop</h2>
    <p>Hello {{name}},</p>
    <p>Your account has been created and is pending role assignment by an administrator. You will be notified once your
        role is assigned.</p>
    <p>Meanwhile, you can log in and view your profile to see your current status.</p>